@model MvcStok.Models.Entity.Kategoriler
@{
    ViewBag.Title = "KategoriGuncelle";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<h2>Kategori Güncelle</h2>
@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m=>m.KategoriID)
                    @Html.TextBoxFor(m=>m.KategoriID, new {@class="form-control"})
                    <br />
                    @Html.LabelFor(m=>m.KategoriAd)
                    @Html.TextBoxFor(m=>m.KategoriAd, new {@class="form-control"})
                </div>
                <div>
                    <button class="btn btn-success">Güncelle</button>
                </div>
            }

